<div class="weather-card">
  <div class="weather-card-header">
    <img
      src="../../../assets/images/{{ country | lowercase }}.jpg"
      height="40"
      width="40"
    />
    <h2>Hourly Weather for {{ country }}</h2>
    <p routerLink="/weather">View All Cities</p>
  </div>

  <div *ngIf="!isLoading; else spinner">
    <mat-card *ngFor="let h of hourlyWeather">
      <mat-card-header>
        <mat-card-title class="weather-card-header-wrapper">
          <div class="date">
            {{ h.dateConversion | date: 'short' }}
          </div>
          <img
            alt="{{ h.weather[0].main }}"
            src="http://openweathermap.org/img/wn/{{
              h.weather[0].icon
            }}@2x.png"
            class=".icon"
          />
          <div class="temp-metric">{{ h.temp }}&deg;F</div>
          <span class=".temp-phrase">{{ h.weather[0].main }}</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="weather-card-content-wrapper">
        <div class="panel">
          <p>Real feel: {{ h.feels_like }}&deg;F</p>
          <p>Wind: {{ h.wind_speed }} miles/h</p>
        </div>
        <div class="panel">
          <p>Cloud Cover: {{ h.clouds }}%</p>
          <p>Humidity: {{ h.humidity }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <ng-template #spinner>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
