<div class="weather-error">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <img src="../../../assets/images/finding.jpg" height="40" width="40" />
      </div>
      <mat-card-title>Oops!</mat-card-title>
    </mat-card-header>
    <mat-card-content class="not-found">
      The path requested could not be found.
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" routerLink="/weather">Home</a>
    </mat-card-actions>
  </mat-card>
</div>
